<!-- Team Selector -->
<TeamSelector />

<TeamSidebar />
<!-- Channel -->
<main class="flex-1 flex flex-col bg-white overflow-hidden channel">

  <!-- Channel Header -->
  <ChannelHeader
    @title="Ember"
    @description="Ember octane"
  />
  {{format-timestamp "2020-08-24"}}
  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">

    <!-- Message -->
    <Message />
  </div>

  <!-- Channel Footer -->
  <ChannelHeader />
</main>
